<div class="bg-logout">
  <div class="bg-logout-content">
      <h1 class="bg-logout-title">New user</h1>
      <div>
        <%= render "form", user: @user %>
      <div>
        <%= link_to "Back to users", users_path %>
      </div>
      </div>
  <div>
</div>
