/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
body {
  min-height: 100vh;
}
.bg-logout,
.bg-login {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}
.bg-login-content {
  padding: 30px;
  width: 460px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 6px;
}
.bg-logout-title,
.bg-login-content .bg-login-title {
  color: black;
  font-size: 40px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  margin-bottom: 16px;
}
.bg-login-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.bg-login-field input {
  margin-top: 4px;
  height: 40px;
  border: 1px solid black !important;
  border-radius: 6px;
  padding-left: 20px;
  background-color: white !important;
}
.bg-login-input {
  margin-top: 4px;
  height: 40px;
  border: none !important;
  border-radius: 6px;
  padding-left: 20px;
  background-color: white !important;
}
.bg-login-input:focus-visible {
  border: none !important;
}
.actions {
  display: flex;
  justify-content: center;
  border: none;
}
.actions input {
  margin-top: 10px;
  background-color: #0089ed;
  border: none;
  width: 100%;
  height: 40px;
  color: white;
  border-radius: 4px;
  font-size: 16px;
}
.bg-logout-content {
  padding: 30px;
  width: 460px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 10px 0px;
  border-radius: 6px;
  margin-bottom: 80px;
}
.logout-form {
  width: 100%;
}
.logout-btn {
  width: 100%;
}
.logout-btn input {
  background-color: #0089ed;
  border: none;
  width: 100%;
  height: 40px;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 20px;
}
.linkNav {
  margin-left: 20px;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
