<h1>Editing ql truong</h1>

<%= render "form", ql_truong: @ql_truong %>

<br>

<div>
  <%= link_to "Show this ql truong", @ql_truong %> |
  <%= link_to "Back to ql truongs", ql_truongs_path %>
</div>
